.div-container > * {
  width: 100%;
}

.div-container {
  height: 100%;
  width: 100%;
}
.user {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../../assets/profilePicture.jpg");
}

.container {
  background-image: url("../../assets/steak_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  margin-right: 100px;
  width: 22%;
  height: 76%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}

.button-login {
  background-color: #f0354c;
  color: white;
  font-weight: bolder;
  border-radius: 6px;
}

.input-log-box {
  font-weight: bold;
  color: black;
}

.label-login {
  margin-bottom: 10px;
  margin-top: 5px;
}

.label-login a {
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(100, 100, 100);
  cursor: pointer;
}

span {
  font-weight: 100;
}

.show-box {
  display: block;
}

.showPrimaryAuth {
  display: block;
}

.hidePrimaryAuth {
  display: none;
}

.container-reset {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.error-message {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 14px;
  margin-top: 14px;
}

.error-mat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-message span {
  font-weight: bold;
}

.successMessage {
  color: black;
  font-style: italic;
}

body {
  background: #824438;
}

.spinner-container {
  width: 20px;
  height: 20px;
  display: inline-block;

  .mat-spinner {
    width: 20px !important;
    height: 20px !important;
  }

  .mat-spinner ::ng-deep svg {
    width: 100% !important;
    height: 100% !important;
  }

  .mat-spinner ::ng-deep circle {
    stroke: white;
  }
}

.hide-icon {
  visibility: hidden;
}

.new-box {
  height: 80%;
}
