<mat-form-field class="input-log-box" [ngClass]="{face: 1 == 1}">
    <input type="text" id="email" matInput name="email" spellcheck="false" placeholder="Ingrese correo electrónico" [(ngModel)]="email"
        [formControl]="emailFormControl_" [errorStateMatcher]="matcher_" (keydown)="ckeckInput()" maxlength="30"/>
    <mat-error *ngIf="emailFormControl_.hasError('required')">
        <span>Correo electrónico es requerido</span>
    </mat-error>
</mat-form-field>
<div class="error-message" *ngIf="active">
    <mat-error [ngClass]="{successMessage: active}">
        <span>{{ messageError }}</span>
    </mat-error>
</div>
<div class="error-message" *ngIf="!active">
    <mat-error [ngClass]="{errorMessage: !active}">
        <span>{{ messageError }}</span>
    </mat-error>
</div>
<button mat-button class="button-login" (click)="resetPassword()">
    ACEPTAR
    <div class="spinner-container" *ngIf="busy">
        <mat-spinner></mat-spinner>
    </div>
</button>