<div class="container">
    <mat-card class="box new-box">
        <div>
            <div class="user"></div>
        </div>
        <div class="div-container" [ngClass]="{hidePrimaryAuth: active}" color="primary">
            <div class="error-message">
                <mat-error class="error-mat" *ngIf="true">
                    <mat-icon [ngClass]="{ 'hide-icon': errorMessage == ''}">warning</mat-icon>
                    <span> {{ errorMessage }} </span>
                </mat-error>
            </div>
            <mat-form-field class="input-log-box" [ngClass]="{face: true}">
                <input type="text" id="email" matInput name="email" spellcheck="false" placeholder="Correo electrónico" [(ngModel)]="email"
                    [formControl]="emailFormControl_" [errorStateMatcher]="matcher_" maxlength="30" />
                <mat-error *ngIf="emailFormControl_.hasError('required')">
                    <span>Correo electrónico es requerido</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-log-box">
                <input type="password" matInput name="randomPswd" spellcheck="false" placeholder="Clave temporal" [(ngModel)]="randomPswd"
                    [formControl]="randomPswdFormControl_" [errorStateMatcher]="randomPswdMatcher" maxlength="8" />
                <mat-error *ngIf="randomPswdFormControl_.hasError('required')">
                    <span>Clave temporal es requerida</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-log-box">
                <input type="password" matInput name="newPswd" spellcheck="false" placeholder="Nueva contraseña" [(ngModel)]="newPswd" [formControl]="newPswdFormControl_"
                    [errorStateMatcher]="newPswdMatcher" maxlength="20" />
                <mat-error *ngIf="newPswdFormControl_.hasError('required')">
                    <span>Nueva contraseña</span>
                </mat-error>
            </mat-form-field>
            <button mat-button class="button-login" (click)="resetPassword()">
                ACTUALIZAR
                <div class="spinner-container" *ngIf="busy">
                    <mat-spinner></mat-spinner>
                </div>
            </button>
        </div>
    </mat-card>

</div>